@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
body{
    background-color: rgb(81, 81, 81);
}
.img-1{
    width: 30%;
    margin: auto;
    margin-top: 100px;
    display: block;
    border-radius: 150px;
}
.para{
    font-family:serif;
    text-align: center;
    color: rgb(205, 227, 255);
    font-size:30px;
    margin-top: 50px;
}
.head {
    font-family: roboto;
    text-align: center;
    color: rgb(255, 154, 170);
    font-size:50px;
    margin-top: 50px;
}
.btn {
    color: white;
    background-color: #1faecb;
    width: 140px;
    height: 38px;
    border-width: 0px;
    border-radius: 50px;
    padding:10px;
    margin: 10px;
}
