body {
    background-color: #f0f0f0; 
    color: #000000; 
    font-family: Arial, sans-serif;
}

.bg {
    background-image: url('https://media.istockphoto.com/id/1136773847/vector/happy-parents-cute-cartoon-concept-illustration-of-a-couple-holding-newborn-baby-healthcare.jpg?s=612x612&w=0&k=20&c=aZ9hgL3Eq9azmxJV-Rzs93713hpK-s71vFpHK6QVYR0=');
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    opacity: 0.7;
    padding: 20px;
}
.btn{
    color: white;
    background-color: #10801f;
    width: 140px;
    height: 38px;
    border-width: 0px;
    border-radius: 50px;
    padding:10px;
    margin: 10px;
}

.h1 {
    text-align: center;
    color: darkblue;
}

ul, li {
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

strong {
    color: darkblue; /* Dark blue color for strong elements */
}
