body{
    padding: 25px;
    font-family:Comic Sans MS;
    color:pink;
    }
    .title {
    color:black;
    }
    .h{
    color:powderblue;
    font-family:Comic Sans MS;
    }
    strong {
        color: rgb(220, 70, 95); /* Dark blue color for strong elements */
    }
    footer {
        background-color: #000000;
        color: white;
        padding: 20px;
        text-align: center;
    }